h1 {
  font-family: "Covered By Your Grace", sans-serif;
  font-display:  swap;
}
.container-fluid {
  margin: auto 0.5rem;
  padding: auto 0.5rem;
}

.row {
  margin-top: 40px;
}
.col-sm-3 {
  height: fit-content;
}
.papa-icon-holder {
  display: table;
  width: 100%;
  text-align: center;
}
.icon-holder {
  width: fit-content;
  display: table-cell;
}
.icon-holder a {
  position:relative;
  display:inline-block;
  width:80px;
  height:80px;
  font-size:25px;
  text-align:center;
  line-height:80px;
  color: #f53753;

  margin:15px;
  transform:rotate(45deg);
  transition:.2s;
  border:1px solid rgba(245,55,83, 0.5);
}
.icon-holder a:hover {
  color: #fff;
  background-color: #f53753;
}
.icon-holder a i {
  transform: rotate(-45deg);
}
