<div class="container-fluid" style="margin: 80px 0; text-align:center">
  <h1>Our Gallery</h1>
  <span style="height: 1px; width: 20%; background: #f53753; display: block; margin: 10px auto 0;"></span>
</div>
<div class="container-fluid row gallery">
  <div class="col-sm-4">
    <a href="assets/images/ga1.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
      <img src="./assets/images/ga1.jpg" alt="gallery photo">
    </a>
  </div>
  <div class="col-sm-4 ">
    <a href="assets/images/ga2.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
      <img src="./assets/images/ga2.jpg" alt="Gallery Photo">

    </a>
  </div>
  <div class="col-sm-4 ">
    <a href="assets/images/ga3.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">

      <img src="./assets/images/ga3.jpg" alt="Gallery Photo">
    </a>
  </div>
  <div class="col-sm-4 ">
    <a href="assets/images/ga4.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
      <img src="./assets/images/ga4.jpg" alt="Gallery Photo">

    </a>
  </div>
  <div class="col-sm-4 ">
    <a href="assets/images/ga5.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">

      <img src="./assets/images/ga5.jpg" alt="Gallery Photo">
    </a>
  </div>
  <div class="col-sm-4 ">
    <a href="assets/images/ga6.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">

      <img src="./assets/images/ga6.jpg" alt="Gallery Photo">
    </a>
  </div>
  <div class="col-sm-4 ">
    <a href="assets/images/ga7.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
      <img src="./assets/images/ga7.jpg" alt="Gallery Photo">

    </a>
  </div>
  <div class="col-sm-4 ">
    <a href="assets/images/ga8.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
      <img src="./assets/images/ga8.jpg" alt="Gallery Photo">

    </a>
  </div>
  <div class="col-sm-4">
    <a href="assets/images/ga9.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.">

      <img src="./assets/images/ga9.jpg" alt="Gallery Photo">
    </a>
  </div>
</div>
