<!------ Include the above in your HEAD tag ---------->

<!--
more ui & layout https://github.com/alphadsy
contribute on github : https://github.com/alphadsy/alpha-ui
-->
<nav class="navbar navbar-trans fixed-top navbar-expand-md">
  <!-- top nav -->
  <nav class="navbar  navbar-expand-md">
    <div class="container-fluid">
      <!-- left nav top -->
      <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
  <div class="navbar-brand">
    <span id="logo"><a href="#" class="text-white">FASHION GLAZE</a></span>
  </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-white" style="">
          <li class="roll-link">
            <a class="" (click)="goTop()" data-title="HOME">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="roll-link">
            <a class="" SimpleSmoothScroll [scrollTo]="'models'" data-title="MODELS">MODELS</a>
          </li>
          <li class="roll-link">
            <a class="" SimpleSmoothScroll [scrollTo]="'service'" data-title="SERVICES">SERVICES</a>
          </li>
          <li class="roll-link">
            <a class="" SimpleSmoothScroll [scrollTo]="'gallery'" data-title="GALLERY">GALLERY</a>
          </li>
          <li class="roll-link">
            <a class="" href="#" data-title="TEAM">TEAM</a>
          </li>
          <li class="roll-link">
            <a class="" href="#" data-title="CONTACT">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>

<!--bg img  -->
