h1{
  font-family: "Covered By Your Grace";
  font-size: 3rem;
}
/* Reset000 */
.container-fluid {
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  padding: 0;
  margin: 0;
  border: 0;
  display:flex;
  flex-wrap: wrap;
}
.col-md-6 {
  padding: 0;
}
.inner-item {
  min-height: 50vh;

}

#image1 {
  background-image: url("/assets/images/s222.jpg");
  background-position:center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#image2 {
  background-image: url("/assets/images/s111.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

figure:hover figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0;
}

figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6536b;
}

figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0.5);
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
  background: rgba(0,0,0,.5);
  color: #fff;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  -ms-transition-delay: .4s;
  transition-delay: .4s;
}
.spec {
  display: table;
  border: none;
}
.spec-grid {
  display: table-cell;
  vertical-align: middle;
}

figure .img {
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  -ms-transition-delay: .4s;
  transition-delay: .4s;
}
figcaption h1, figcaption p {
  -webkit-transition: all 0.2;
  -moz-transition: all 0.2;
  -o-transition: all 0.2;
  -ms-transition: all 0.2;
  transition: all 0.2;
}

figcaption:hover {

}

figure:hover #image1, figure:hover #image2 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
