<div class="container-fluid" style="margin-top: 80px; text-align:center">
  <h1>Our Models</h1>
  <span style="height: 1px; width: 20%; background: #f53753; display: block; margin: 10px auto 0;"></span>
  <div class="container-fluid row" style="margin-top: 20px;">
    <figure class="col-md-6 ">
      <div class="inner-item  img" id="image1"></div>

      <figcaption>
        <div class="spec-grid">
          <h1>
            Fashion
          </h1>
          <p>In sit amet sapien eros quibusdam et aut officiis debitis aut rerum Integer in tincidunt labore et dolore magna aliqua</p>
        </div>
      </figcaption>
    </figure>
    <div class="col-md-6 inner-item spec" style="background-color: #f6536b;">
      <div class="spec-grid">
        <h2>
          Lorem ipsum dolor sit
        </h2>
        <p>
          Suspendisse dignissim semper velit vitae bibendum. Morbi blandit malesuada eros vitae condimentum. Nam nec magna vel justo laoreet sagittis. Phasellus scelerisque dui a sodales porttitor. Pellentesque bibendum sem eu libero vestibulum fringilla
        </p>
      </div>
    </div>

      <div class="col-md-6 inner-item text-white spec" style="background-color: #000;">
        <div class="spec-grid">
          <h2>
        Lorem ipsum dolor sit
      </h2>
          <p>
            Suspendisse dignissim semper velit vitae bibendum. Morbi blandit malesuada eros vitae condimentum. Nam nec magna vel justo laoreet sagittis. Phasellus scelerisque dui a sodales porttitor. Pellentesque bibendum sem eu libero vestibulum fringilla
          </p>

        </div>
      </div>
      <figure class="col-md-6 ">
        <div class="inner-item  img" id="image2">

        </div>

        <figcaption>
          <div class="spec-grid">
            <h1>
            Fashion
          </h1>
            <p>In sit amet sapien eros quibusdam et aut officiis debitis aut rerum Integer in tincidunt labore et dolore magna aliqua</p>
          </div>
        </figcaption>
      </figure>
  </div>
